*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lаto
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* Header */

.header{
    padding: 17px 0;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}

.header__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu{
    display: flex;
}

.header__link{
    color: #292929;
    font-size: 20px;
    font-weight: 500;
}

.header__item{
    margin-right: 70px;
}

.btn{
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    background-color: #17aa23;
    padding: 13px 50px;
    border-radius: 4px;
    border: none
}

.btn__white{
    color: #292929;
    background-color: #fff;
}

/* Main */

.main{
    background: url('../image/BG.png') no-repeat center center / cover;
    height: 90vh;
    padding: 170px;
}

.main__info{
    max-width: 440px;
    display: flex;
    flex-direction: column;
}

.main__title{
    color: #01996D;
    font-size: 65px;
    font-weight: 900;
    margin-bottom: 30px;
}

.main__text{
    color: #484848;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 57px;
}

/* Steps */

.steps{
    padding: 169px;
}

.steps__subtitle{
    color: #424242;
    font-weight: 700;
    font-size: 24px;
}

.steps__title{
    color: #01996D;
    font-weight: 900;
    font-size: 50px;
    min-width: 584px;
}

.steps__text{
    color: #424242;
    font-size: 20px;
    font-weight: 500;
    max-width: 770px;
    margin-bottom: 60px;
}

.steps__block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 190px;
}

.steps__card-title{
    color: #000;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 55px;
}

.steps__card{
    max-width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps__row{
    display: flex;
    justify-content: space-between;
}

.steps__pic img{
    border-radius: 12px;
}

/* Story */

.story{
    position: absolute;
    width: 1480px;
    height: 922px;
    left: 0px;
    top: 2587px;
    background-color: #245852;
}

.story__text{
    position: relative;
    top: 350px;
}

.white{
    color: #ffffff;
}

.video{
    position: absolute;
    right: 50px;
    top: 300px;
}

/* Product */

.product{
    position: absolute;
    top: 3629px;
    left: 275px;
    right: 100px;
    bottom: 242px;
}

.black{
    color: #000;
}

.text-block{
    position: absolute;
    left: 550px;
}

.woman{
    position: absolute;
    right: 650px;
    top: 0px;
}

.card{
    position: absolute;
    right: 1020px;
    top: 300px;
}

/* footer */

.footer{
    position: absolute;
    top: 4400px;
    width: 208vh;
    height: 654px;
    background-color: #245852;
}

.footer__text{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 50px 100px;
    margin-left: 100px;
}

.foot__text{
    font-size: 25px;
    margin-top: 60px;
}